# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terragrunt
.terragrunt-cache/

# Secrets
*.tfvars.json
secrets.tfvars
*secrets*
*.pem
*.key

# OS
.DS_Store
Thumbs.db
